.my-flex-style
  display: flex
  justify-content: space-between
  align-items: center
  width: 100% 

.my-text-style
  color: #6c757d
  font-style: italic

.my-badge-style
  padding: 5px 12px
  font-size: 0.85rem
  background-color: #0dcaf0
  color: white